<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script>
  		goToPlace = function(placeName){
  			location = "/"+placeName;
  		}
  	</script>
    <h1><%= title %></h1>
    <hr/>
    <button onclick="goToPlace('dashboard')"  type="">Dashboard</button> | 
    <button onclick="goToPlace('customer')"  type="">Customers</button>  |
    <button onclick="goToPlace('about')"  type="">About</button>  |
    <button onclick="goToPlace('login')"  type="">Logout</button>  
  </body>
</html>